### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
__pycache__
/.idea
/forms/__pycache__
/data/__pycache__
/company/__pycache__
/api/__pycache__
.idea/workspace.xml
.env
