/* Общие стили */
body {
    font-family: 'Manrope', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #343a40;
}

/* Стили для header */
header {
    position: fixed;
    width: 100%;
    background-color: white;
    padding: 10px 20%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 37px;
}

/* Стили для main */
main {
    padding: 20px;
}

/* Стили для первого section */
.first-section {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 40px 40px 56px;
    background-color: #fba025;
    max-width: 60%;
    margin: 5% auto;
    border-radius: 32px;
}

.left-content {
    flex: 1;
    max-width: 40%;

}

.reg-title {
    font-size: 2.5rem;
    margin-top: 0px;
    color: white;
}

.reg-subtitle {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #333;
}

.register-button {
    width: 100%;
    max-width: 300px;
    height: 50px;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Manrope', sans-serif;
    color: black;
    background-color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.register-button:hover {
    background-color: #f4e9f6;
}
.dino{
    width: 15%;
}
.dino-image{
    flex: 1;
    position: relative;
    width: 100%;
    margin-left: 16px;
}
.right-content {
    flex: 1;
    width: 30%;
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 20px;
}

.login-title {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: black;
}

.right-content form input[type="email"],
.right-content form input[type="password"] {
    width: calc(100% - 40px);
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

.right-content form input[type="submit"] {
    width: calc(100% - 20px);
    padding: 15px;
    border: none;
    border-radius: 8px;
    background-color: #f6269a;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s;
}

.right-content form input[type="submit"]:hover {
    background-color: #d80581;
}

.right-content p {
    margin-top: 10px;
    font-size: 1.1rem;
}

/* Стили для второго section */
.carousel-section {
    text-align: center;
    padding: 40px 20px;

}

.carousel-section-title h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #ffa500;
}

.carousel-slide video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* или любое другое значение, в зависимости от вашего предпочтения */
}

.carousel-container {
    max-width: 50%; /* или любое другое значение, чтобы ограничить ширину блока */
    margin: 0 auto; /* чтобы выровнять блок по центру горизонтально */
    height: auto; /* убедитесь, что высота может быть автоматически адаптирована к содержимому */
    overflow: hidden;
    position: relative;
    display: flex; /* Для выравнивания слайдов горизонтально */
}

.carousel-slide {
    width: 100%; /* Ширина каждого слайда занимает всю ширину контейнера */
    min-width: 100%; /* Необходимо для корректного отображения в случае изменения размера окна браузера */
    height: 100%; /* Высота каждого слайда занимает всю доступную высоту */
    flex: 0 0 auto; /* Указывает, что слайд не должен изменять свой размер */
    display: flex; /* Чтобы видео заполняло всю доступную область слайда */
    justify-content: center; /* Чтобы видео оставалось по центру горизонтально */
    align-items: center; /* Чтобы видео оставалось по центру вертикально */
    transition: transform 0.5s ease; /* Добавляем переход для свойства transform (сдвиг) */
}

.carousel-slide video {
    width: 100%; /* Видео занимает всю доступную ширину слайда */
    height: 100%; /* Видео занимает всю доступную высоту слайда */
    object-fit: cover; /* Чтобы видео заполняло всю доступную область слайда */
}


.prev-button, .next-button {
    position: absolute;
    margin-top: 10%;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    cursor: pointer;
    z-index: 1;
}

.prev-button {
    left: 10%;
}

.next-button {
    right: 10%;
}

.slide-indicators {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.slide-indicator {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 10px;
    cursor: pointer;
}

.slide-indicator.active {
    background-color: black;
}
.footer {
    background-color: #f0f0f0;
    padding: 20px;
    color: #333;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.team-info, .contact-info {
    flex-basis: 48%;
}

.team-info h3, .contact-info h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.team-info ul {
    list-style-type: none;
    padding: 0;
}

.team-info ul li {
    margin-bottom: 5px;
}

.footer-bottom {
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
    text-align: center;
}
@media only screen and (max-width: 768px) {
    .first-section {
        flex-direction: column; /* Изменение направления flex на вертикальное */
        padding: 40px 20px; /* Уменьшение внутренних отступов */
    }

    .dino {
        display: none; /* Скрыть динозаврика на маленьких устройствах */
    }

    .right-content {
        width: 100%; /* Занимать всю доступную ширину */
        margin-top: 20px; /* Добавить отступ сверху */
    }
}