<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CodePen - Modern Avatar Slider</title>
</head>
<body>
<link rel="stylesheet" href="../static/css/avatar.css"/>
<div class="choose-avatar">
    <span class="title">Выберите аватарку</span>
    <div class="avatars-container">
        <span class="left"></span>
        <div class="avatars">
            <div class="avatar-item" style="background-image: url('https://i.ibb.co/C2WLdyY/avatar1.png');">
                <span id="text-avatar">Выбрать</span>
            </div>
            <div class="avatar-item" style="background-image: url('https://i.ibb.co/0t3JTMz/avatar2.png');">
                <span id="text-avatar">Выбрать</span>
            </div>
            <div class="avatar-item" style="background-image: url('https://i.ibb.co/K08BjJx/avatar3.png');">
                <span id="text-avatar">Выбрать</span>
            </div>
            <div class="avatar-item" style="background-image: url('https://i.ibb.co/6XW1X2L/avatar4.png');">
                <span id="text-avatar">Выбрать</span>
            </div>
            <div class="avatar-item" style="background-image: url('https://i.ibb.co/DVfTxB2/avatar5.png');">
                <span id="text-avatar">Выбрать</span>
            </div>
            <div class="avatar-item" style="background-image: url('https://i.ibb.co/Bzvqgg3/avatar6.png');">
                <span id="text-avatar">Выбрать</span>
            </div>
            <div class="avatar-item" style="background-image: url('https://i.ibb.co/FDg3t8m/avatar7.png');">
                <span id="text-avatar">Выбрать</span>
            </div>
        </div>
        <span class="right"></span>
    </div>
    <button class="button-simple">Назад</button>
</div>
<!-- partial -->
<script src="../static/js/avatar.js"></script>

</body>
</html>
