{% extends 'header.html' %}
{% block links %}
<link rel="stylesheet" href="../static/css/style.css"/>
<link href="../static/css/choice_topic.css" rel="stylesheet"/>
{% endblock %}
{% block content %}
<form action="" method="post">
    <div class="trainer-container">
        <div class="trainer-container01">
            <div class="trainer-container02">
                <div class="trainer-container03">
                    <div>{{ form.topic11(class="button trainer-container04") }}</div>
                    <div>{{ form.topic12(class="button trainer-container05") }}</div>
                </div>
                <div class="trainer-container06">
                    <div>{{ form.topic13(class="button trainer-container07") }}</div>
                    <div>{{ form.topic14(class="button trainer-container08") }}</div>
                </div>
            </div>
            <div class="trainer-container09">
                <div class="trainer-container10">
                    <div>{{ form.topic15(class="button trainer-container11") }}</div>
                    <div>{{ form.topic16(class="button trainer-container12") }}</div>
                </div>
                <div class="trainer-container13">
                    <div>{{ form.topic17(class="button trainer-container14") }}</div>
                    <div>{{ form.topic18(class="button trainer-container15") }}</div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}

