{% extends 'header.html' %}
{% block links %}
<link rel="stylesheet" href="../static/css/style.css"/>
<link href="../static/css/choice_class.css" rel="stylesheet"/>
{% endblock %}
{% block content %}
<div>
    <form action="" method="post">
    <div class="trainer-container">
        <div class="trainer-container1">
            <div class="trainer-container2">
                <div class="trainer-container3">
                    <div>
                        {{ form.first_class(class="button trainer-container4") }}
                    </div>
                    <div>
                        {{ form.second_class(class="button trainer-container5") }}
                    </div>
                </div>
                <div class="trainer-container6">
                    <div>
                        {{ form.third_class(class="button trainer-container7") }}
                    </div>
                    <div>
                        {{ form.fourth_class(class="button trainer-container8") }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
</div>

{% endblock %}

