<!DOCTYPE html>
<html lang="en"
  ><head
    ><title>Active Online Software Page</title
    ><meta property="og:title" content="Active Online Software Page" /><meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    /><meta charset="utf-8" /><meta
      property="twitter:card"
      content="summary_large_image"
    /><style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }</style
    ><style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

        fill: var(--dl-color-gray-black);
      }</style
    ><link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    /><link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    /><style>
       body::-webkit-scrollbar {
         width: 0.5em;
         z-index: 100;
         background-color:transparent;
       }


      body::-webkit-scrollbar-thumb {
         background-color:white;
         box-shadow:0 -100vh 0 100vh #5128f5;//magic
       }
    </style></head
  ><body
    ><link rel="stylesheet" href="../static/css/style.css" /><div
      ><link href="../static/css/index.css" rel="stylesheet" /><div class="home-container"
        ><section class="home-hero"
          ><div class="home-menu"
            ><div id="mobile-menu" class="home-mobile-navigation"
              ><img
                alt="pastedImage"
                src="https://play.teleporthq.io/static/svg/placeholders/no-image.svg"
                class="home-logo" /><div class="home-links"
                ><span class="Link">Solutions</span
                ><span class="Link">How it works</span
                ><span class="Link">Prices</span></div
              ><div id="close-mobile-menu" class="home-close-mobile-menu"
                ><svg viewBox="0 0 804.5714285714286 1024" class="home-icon">
                  <path
                    d="M741.714 755.429c0 14.286-5.714 28.571-16 38.857l-77.714 77.714c-10.286 10.286-24.571 16-38.857 16s-28.571-5.714-38.857-16l-168-168-168 168c-10.286 10.286-24.571 16-38.857 16s-28.571-5.714-38.857-16l-77.714-77.714c-10.286-10.286-16-24.571-16-38.857s5.714-28.571 16-38.857l168-168-168-168c-10.286-10.286-16-24.571-16-38.857s5.714-28.571 16-38.857l77.714-77.714c10.286-10.286 24.571-16 38.857-16s28.571 5.714 38.857 16l168 168 168-168c10.286-10.286 24.571-16 38.857-16s28.571 5.714 38.857 16l77.714 77.714c10.286 10.286 16 24.571 16 38.857s-5.714 28.571-16 38.857l-168 168 168 168c10.286 10.286 16 24.571 16 38.857z"
                  ></path></svg></div></div
            ><div class="home-desktop-navigation"
              ><nav class="home-centered"
                ><div class="home-left"
                  ><img
                    src="../static/media/index/logos/logo-200h.png"
                    alt="image"
                    class="home-image" /></div
                ><div class="home-right"
                  ><span class="home-sign-in Link">Войти</span
                  ><div class="home-get-started"
                    ><span class="home-text03">Зарегистрироваться</span></div
                  ><div id="open-mobile-menu" class="home-burger-menu"
                    ><img
                      alt="pastedImage"
                      src="../static/media/index/pastedimage-yxbd.svg"
                      class="home-mobile-menu-button" /></div></div></nav></div
            ><div
              ><div class="home-container2"
                ><script defer="">
                  /*
                  Mobile menu - Code Embed
                  */

                  // Mobile menu
                  const mobileMenu = document.querySelector('#mobile-menu')

                  // Buttons
                  const closeButton = document.querySelector('#close-mobile-menu')
                  const openButton = document.querySelector('#open-mobile-menu')

                  // On openButton click, set the mobileMenu position left to -100vw
                  openButton.addEventListener('click', function() {
                      mobileMenu.style.transform = 'translateX(0%)'
                  })

                  // On closeButton click, set the mobileMenu position to 0vw
                  closeButton.addEventListener('click', function() {
                      mobileMenu.style.transform = 'translateX(100%)'
                  })
                </script></div
              ></div
            ></div
          ><header class="home-header"
            ><h1 class="home-text04"
              >Улучшите ваши математические навыки с MathUp!</h1
            ><p class="home-text05"
              >MathUp - это удобная образовательная платформа, где вы можете
              тренироваться и улучшать навыки в игровой форме!</p
            ><div class="home-get-started1"
              ><span class="home-text06"
                ><span>Начать</span><br /></span></div></header
          ><div class="home-dashboard-preview"
            ><div class="home-outline"
              ><div
                data-thq="slider"
                data-pagination="true"
                data-navigation="true"
                data-autoplay="true"
                data-loop="true"
                data-autoplay-delay="10000"
                class="home-slider swiper"
                ><div data-thq="slider-wrapper" class="swiper-wrapper"
                  ><div
                    data-thq="slider-slide"
                    class="home-slider-slide swiper-slide"
                  ></div
                  ><div
                    data-thq="slider-slide"
                    class="home-slider-slide1 swiper-slide"
                  ></div
                  ><div
                    data-thq="slider-slide"
                    class="home-slider-slide2 swiper-slide"
                  ></div></div
                ><div
                  data-thq="slider-pagination"
                  class="home-slider-pagination swiper-pagination swiper-pagination-bullets swiper-pagination-horizontal"
                  ><div
                    data-thq="slider-pagination-bullet"
                    class="swiper-pagination-bullet swiper-pagination-bullet-active"
                  ></div
                  ><div
                    data-thq="slider-pagination-bullet"
                    class="swiper-pagination-bullet"
                  ></div
                  ><div
                    data-thq="slider-pagination-bullet"
                    class="swiper-pagination-bullet"
                  ></div></div
                ><div
                  data-thq="slider-button-prev"
                  class="swiper-button-prev"
                ></div
                ><div
                  data-thq="slider-button-next"
                  class="swiper-button-next"
                ></div></div></div></div></section
        ><section class="home-features"
          ><div class="home-title"
            ><span class="home-text09"
              ><span>Тут какой-то текст</span><br /></span></div
          ><div class="home-cards"
            ><div class="home-container3"
              ><div class="card"
                ><img
                  alt="pastedImage"
                  src="../static/media/index/pastedimage-fii6m-200h.png"
                  class="home-icon2" /><span class="home-text12"
                  ><span>Тренажёр</span><br /></span
                ><span class="home-text15"
                  ><span>Тут какой-то текст</span><br /></span></div
              ><div class="home-publish card"
                ><img
                  alt="pastedImage"
                  src="../static/media/index/pastedimage-mimg-200h.png"
                  class="home-icon3"
                /><span class="home-text18">Кампания</span
                ><span class="home-text19"
                  >Тут ты будешь развивать свои навыки в решении примеров!</span
                ></div
              ></div
            ><div class="home-container4"
              ><div class="card home-analyze"
                ><img
                  alt="pastedImage"
                  src="../static/media/index/pastedimage-l6p-200h.png"
                  class="home-icon4"
                /><span class="home-text20">Мультиплеер</span
                ><span class="home-text21"
                  >Хочешь поиграть с друзьями? Без проблем!</span
                ></div
              ><div class="card"
                ><img
                  alt="pastedImage"
                  src="../static/media/index/pastedimage-vyi5-200h.png"
                  class="home-icon5"
                /><span class="home-text22">Мб что-то ещё</span
                ><span class="home-text23"
                  >?Решение примеров на время</span
                ></div
              ></div
            ></div
          ></section
        ><section class="home-statistics"
          ><div class="home-container5"
            ><div class="active-users-active-users metrics"
              ><span class="active-users-text"><span>3.5M</span></span
              ><span class="active-users-text1"
                ><span>— Active users</span></span
              ></div
            ><div class="active-users-active-users metrics"
              ><span class="active-users-text"><span>50k</span></span
              ><span class="active-users-text1"
                ><span>— Brands</span></span
              ></div
            ><div class="active-users-active-users metrics"
              ><span class="active-users-text"><span>250K</span></span
              ><span class="active-users-text1"
                ><span>— Accounts Managed</span></span
              ></div
            ><div class="active-users-active-users metrics"
              ><span class="active-users-text"><span>30M</span></span
              ><span class="active-users-text1"
                ><span>— Active leads</span></span
              ></div
            ></div
          ></section
        ><section class="home-banners"
          ><div class="home-study"
            ><div class="home-container6"
              ><div class="home-left1"
                ><span class="home-text24 title">Обучение</span
                ><span class="home-text25"
                  ><span
                    >Тут текст что у нас будет в обучении и про то какие мы
                    крутые там и тп</span
                  ><br /></span
                ><div class="home-get-started2 template-button"
                  ><span class="home-text28"
                    ><span>Начать</span><br /></span></div></div
              ><div class="home-image-container"
                ><img
                  alt="pastedImage"
                  src="../static/media/index/1-1200w.jpg"
                  class="home-cards-image" /></div></div></div
          ><div class="home-company"
            ><div class="home-centered-container"
              ><div class="home-image-container1"
                ><img
                  alt="pastedImage"
                  src="../static/media/index/1-1200w.jpg"
                  class="home-cards-image1" /></div
              ><div class="home-right1"
                ><h2 class="home-text31 title">Кампания</h2
                ><div class="home-category"
                  ><span class="home-text32"
                    ><span>Бла-бла-бла</span><br /></span></div
                ><div class="home-get-started3 template-button"
                  ><span class="home-text35"
                    ><span>Начать</span><br /></span></div></div></div></div
          ><div class="home-multiplayer"
            ><div class="home-container7"
              ><div class="home-left2"
                ><h2 class="home-text38 title"
                  ><span>Мультиплеер</span><br /></h2
                ><span class="home-text41">Бла-бла</span
                ><div class="home-get-started4 template-button"
                  ><span class="home-text42">Начать</span></div
                ></div
              ><div class="home-image-container2"
                ><img
                  alt="pastedImage"
                  src="../static/media/index/1-1200w.jpg"
                  class="home-cards-image2" /></div></div></div
          ><div class="home-time"
            ><div class="home-centered-container1"
              ><div class="home-image-container3"
                ><img
                  alt="pastedImage"
                  src="../static/media/index/1-1200w.jpg"
                  class="home-cards-image3" /></div
              ><div class="home-right2"
                ><h2 class="home-text43 title"
                  ><span class="home-text44">Время</span><br /></h2
                ><div class="home-category1"
                  ><span class="home-text46"
                    ><span>Бла-бла-бла</span><br /></span></div
                ><div class="home-get-started5 template-button"
                  ><span class="home-text49"
                    ><span>Начать</span
                    ><br /></span></div></div></div></div></section
        ><footer class="home-footer"
          ><div class="home-top"
            ><div class="home-right3"
              ><div class="home-category2"
                ><span class="home-text52">Команда CodeBlaze</span
                ><div class="home-links1"
                  ><span class="home-text53"
                    ><span>Frontend: @flamymc</span><br /></span
                  ><span class="home-text56">Backend: @staflix</span
                  ><span class="home-text57">Backend: @DanSivets</span
                  ><span class="home-text58"> Server: @d1temend</span></div
                ></div
              ><div class="home-category3"
                ><span class="home-text59"><span>Контакты</span><br /></span
                ><div class="home-links2"
                  ><span class="home-text62"
                    >Телефон:&nbsp;+7 (XXX) XXX-XX-XX</span
                  ><span class="home-text63"
                    >Email:&nbsp;info@codeblaze.com</span
                  ><span class="home-text64">Telegram: @codeblaze</span
                  ><span class="home-text65">Instagram</span
                  ><span class="home-text66">Facebook</span></div
                ></div
              ></div
            ></div
          ><div class="home-bottom"
            ><img
              alt="pastedImage"
              src="https://play.teleporthq.io/static/svg/placeholders/no-image.svg"
              class="home-branding" /><span class="home-text67"
              ><span class="home-text68"
                >© 2024 CodeBlaze. Все права защищены</span
              ><br /></span></div></footer></div
    ></div>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script></body
></html>
