<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Authorizated - Active Online Software Page</title>
    <meta
      property="og:title"
      content="Authorizated - Active Online Software Page"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

        fill: var(--dl-color-gray-black);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
    <style>
       body::-webkit-scrollbar {
         width: 0.5em;
         z-index: 100;
         background-color:transparent;
       }


      body::-webkit-scrollbar-thumb {
         background-color:white;
         box-shadow:0 -100vh 0 100vh #5128f5;//magic
       }
    </style>
  </head>
  <body>
    <link rel="stylesheet" href="../static/css/style.css" />
    <div>
      <link href="../static/css/authorizated.css" rel="stylesheet" />

      <div class="authorizated-container">
        <section class="authorizated-hero">
          <div id="header" class="authorizated-menu">
            <div id="mobile-menu" class="authorizated-mobile-navigation">
              <img
                alt="pastedImage"
                src="https://play.teleporthq.io/static/svg/placeholders/no-image.svg"
                class="authorizated-logo"
              />
              <div class="authorizated-links">
                <span class="Link">Solutions</span>
                <span class="Link">How it works</span>
                <span class="Link">Prices</span>
              </div>
              <div
                id="close-mobile-menu"
                class="authorizated-close-mobile-menu"
              >
                <svg
                  viewBox="0 0 804.5714285714286 1024"
                  class="authorizated-icon"
                >
                  <path
                    d="M741.714 755.429c0 14.286-5.714 28.571-16 38.857l-77.714 77.714c-10.286 10.286-24.571 16-38.857 16s-28.571-5.714-38.857-16l-168-168-168 168c-10.286 10.286-24.571 16-38.857 16s-28.571-5.714-38.857-16l-77.714-77.714c-10.286-10.286-16-24.571-16-38.857s5.714-28.571 16-38.857l168-168-168-168c-10.286-10.286-16-24.571-16-38.857s5.714-28.571 16-38.857l77.714-77.714c10.286-10.286 24.571-16 38.857-16s28.571 5.714 38.857 16l168 168 168-168c10.286-10.286 24.571-16 38.857-16s28.571 5.714 38.857 16l77.714 77.714c10.286 10.286 16 24.571 16 38.857s-5.714 28.571-16 38.857l-168 168 168 168c10.286 10.286 16 24.571 16 38.857z"
                  ></path>
                </svg>
              </div>
            </div>
            <div class="authorizated-desktop-navigation">
              <nav class="authorizated-centered">
                <div class="authorizated-left">
                  <img
                    alt="image"
                    src="../static/media/logos/logo-200h.png"
                    class="authorizated-image"
                  />
                </div>
                <div class="authorizated-right">
                  <svg
                    viewBox="0 0 731.4285714285713 1024"
                    class="authorizated-icon2"
                  >
                    <path
                      d="M731.429 799.429c0 83.429-54.857 151.429-121.714 151.429h-488c-66.857 0-121.714-68-121.714-151.429 0-150.286 37.143-324 186.857-324 46.286 45.143 109.143 73.143 178.857 73.143s132.571-28 178.857-73.143c149.714 0 186.857 173.714 186.857 324zM585.143 292.571c0 121.143-98.286 219.429-219.429 219.429s-219.429-98.286-219.429-219.429 98.286-219.429 219.429-219.429 219.429 98.286 219.429 219.429z"
                    ></path>
                  </svg>
                </div>
              </nav>
            </div>
            <div>
              <div class="authorizated-container2">
                <script defer="">
                  /*
                  Mobile menu - Code Embed
                  */

                  // Mobile menu
                  const mobileMenu = document.querySelector('#mobile-menu')

                  // Buttons
                  const closeButton = document.querySelector('#close-mobile-menu')
                  const openButton = document.querySelector('#open-mobile-menu')

                  // On openButton click, set the mobileMenu position left to -100vw
                  openButton.addEventListener('click', function() {
                      mobileMenu.style.transform = 'translateX(0%)'
                  })

                  // On closeButton click, set the mobileMenu position to 0vw
                  closeButton.addEventListener('click', function() {
                      mobileMenu.style.transform = 'translateX(100%)'
                  })
                </script>
              </div>
            </div>
          </div>
        </section>
         <form action="" method="post" class="authorizated-features">
            {{ form.hidden_tag() }}
          <div class="authorizated-title">
            <span class="authorizated-text03">
              <span>Тренируйтесь, проходите тесты, соревнуйтесь, повышайте свой уровень и становитесь настоящим математическим героем вместе с MathUp!</span>
              <br/>
            </span>
          </div>
          <div class="authorizated-cards">
            {{ form.trainer_btn(class="authorizated-link authorizated-container3 authorizated-trainer card authorizated-text06", target="_blank", rel="noreferrer noopener") }}
          </div>
            <a
              href="company.html"
              target="_blank"
              rel="noreferrer noopener"
              class="authorizated-link1"
            >
              <div class="authorizated-container4">
                <div class="authorizated-company card">
                  <span class="authorizated-text09">Кампания</span>
                </div>
              </div>
            </a>
            <a
              href="https://multiplayer"
              target="_blank"
              rel="noreferrer noopener"
              class="authorizated-link2"
            >
              <div class="authorizated-container5">
                <div class="authorizated-multiplayer card">
                  <span class="authorizated-text10">Мультиплеер</span>
                </div>
              </div>
            </a>
          </div>
         </form>
        <section class="authorizated-statistics">
          <div class="authorizated-container6">
            <div class="active-users-active-users metrics">
              <span class="active-users-text"><span>3.5M</span></span>
              <span class="active-users-text1">
                <span>— Active users</span>
              </span>
            </div>
            <div class="active-users-active-users metrics">
              <span class="active-users-text"><span>50k</span></span>
              <span class="active-users-text1"><span>— Brands</span></span>
            </div>
            <div class="active-users-active-users metrics">
              <span class="active-users-text"><span>250K</span></span>
              <span class="active-users-text1">
                <span>— Accounts Managed</span>
              </span>
            </div>
            <div class="active-users-active-users metrics">
              <span class="active-users-text"><span>30M</span></span>
              <span class="active-users-text1">
                <span>— Active leads</span>
              </span>
            </div>
          </div>
        </section>
        <footer class="authorizated-footer">
          <div class="authorizated-top">
            <div class="authorizated-right1">
              <div class="authorizated-category">
                <span class="authorizated-text11">Команда CodeBlaze</span>
                <div class="authorizated-links1">
                  <span class="authorizated-text12">
                    <span>Frontend: @flamymc</span>
                    <br />
                  </span>
                  <span class="authorizated-text15">Backend: @staflix</span>
                  <span class="authorizated-text16">Backend: @DanSivets</span>
                  <span class="authorizated-text17">Server: @d1temend</span>
                </div>
              </div>
              <div class="authorizated-category1">
                <span class="authorizated-text18">
                  <span>Контакты</span>
                  <br />
                </span>
                <div class="authorizated-links2">
                  <span class="authorizated-text21">
                    Телефон:&nbsp;+7 (XXX) XXX-XX-XX
                  </span>
                  <span class="authorizated-text22">
                    Email:&nbsp;info@codeblaze.com
                  </span>
                  <span class="authorizated-text23">Telegram: @codeblaze</span>
                  <span class="authorizated-text24">Instagram</span>
                  <span class="authorizated-text25">Facebook</span>
                </div>
              </div>
            </div>
          </div>
          <div class="authorizated-bottom">
            <img
              alt="pastedImage"
              src="https://play.teleporthq.io/static/svg/placeholders/no-image.svg"
              class="authorizated-branding"
            />
            <span class="authorizated-text26">
              <span class="authorizated-text27">
                © 2024 CodeBlaze. Все права защищены
              </span>
              <br />
            </span>
          </div>
        </footer>
      </div>
    </div>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
  </body>
</html>
