{% extends "base.html" %}
{% block links %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}"/>
{% endblock %}

{% block content %}
<div class="layout">
    <div class="card">
        <section class="form-section">
            <h2 class="login-title">Вход</h2>
            <form action="" method="post" class="form-section">
                {% if message_mode == 'почта' %}
                    {{ form.hidden_tag() }}
                    {{ form.email(class="input-container", type="email") }}
                    {{ form.input_password(type="submit", class="btn btn-primary") }}
                {% elif message_mode == 'пароль' %}
                    {{ form.email(class="input-container", type="email") }}
                    {{ form.password(class="input-container", type="password") }}
                    <a href="/reset_password?email={{ email }}">Забыли пароль?</a>
                    {{ form.submit(type="submit", class="btn btn-primary") }}
                {% endif %}
                <button class="mobile-button" onclick="location.href='/register'">Зарегистрироваться</button>
                {{ message }}
            </form>
        </section>
        <section class="promo-section">
            <h1 class="hello-message">Привет!</h1>
            <p class="register-message">Зарегистрируйся, чтобы начать!</p>
            <button class="register-button" onclick="location.href='/register'">Зарегистрироваться</button>
        </section>
    </div>
</div>
{% endblock %}
