<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Темы задач</title>
    <link rel="stylesheet" href="../static/css/mix.css">
</head>
<body>
    <h1>Выберите темы</h1>
    <div class="checkbox-container">
        <div class="checkbox-wrapper-5">
            <div class="check">
                <input id="check-1" type="checkbox">
                <label for="check-1"></label>
            </div>
            <span>Тема 1xasdfasd</span>
        </div>
        <div class="checkbox-wrapper-5">
            <div class="check">
                <input id="check-2" type="checkbox">
                <label for="check-2"></label>
            </div>
            <span>Тема 2</span>
        </div>
        <div class="checkbox-wrapper-5">
            <div class="check">
                <input id="check-3" type="checkbox">
                <label for="check-3"></label>
            </div>
            <span>Тема 3</span>
        </div>
        <div class="checkbox-wrapper-5">
            <div class="check">
                <input id="check-4" type="checkbox">
                <label for="check-4"></label>
            </div>
            <span>Тема 4</span>
        </div>
        <div class="checkbox-wrapper-5">
            <div class="check">
                <input id="check-5" type="checkbox">
                <label for="check-5"></label>
            </div>
            <span>Тема 5</span>
        </div>
        <div class="checkbox-wrapper-5">
            <div class="check">
                <input id="check-6" type="checkbox">
                <label for="check-6"></label>
            </div>
            <span>Тема 6</span>
        </div>
        <div class="checkbox-wrapper-5">
            <div class="check">
                <input id="check-7" type="checkbox">
                <label for="check-7"></label>
            </div>
            <span>Тема 7</span>
        </div>
        <div class="checkbox-wrapper-5">
            <div class="check">
                <input id="check-8" type="checkbox">
                <label for="check-8"></label>
            </div>
            <span>Тема 8</span>
        </div>
        <div class="checkbox-wrapper-5">
            <div class="check">
                <input id="check-9" type="checkbox">
                <label for="check-9"></label>
            </div>
            <span>Тема 9</span>
        </div>
        <div class="checkbox-wrapper-5">
            <div class="check">
                <input id="check-10" type="checkbox">
                <label for="check-10"></label>
            </div>
            <span>Тема 10</span>
        </div>
        <div class="checkbox-wrapper-5">
            <div class="check">
                <input id="check-11" type="checkbox">
                <label for="check-11"></label>
            </div>
            <span>Тема 11</span>
        </div>
        <div class="checkbox-wrapper-5">
            <div class="check">
                <input id="check-12" type="checkbox">
                <label for="check-12"></label>
            </div>
            <span>Тема 12</span>
        </div>
        <div class="checkbox-wrapper-5">
            <div class="check">
                <input id="check-13" type="checkbox">
                <label for="check-13"></label>
            </div>
            <span>Тема 13</span>
        </div>
        <div class="checkbox-wrapper-5">
            <div class="check">
                <input id="check-14" type="checkbox">
                <label for="check-14"></label>
            </div>
            <span>Тема 14</span>
        </div>
        <div class="checkbox-wrapper-5">
            <div class="check">
                <input id="check-15" type="checkbox">
                <label for="check-15"></label>
            </div>
            <span>Тема 15</span>
        </div>
        <div class="checkbox-wrapper-5">
            <div class="check">
                <input id="check-16" type="checkbox">
                <label for="check-16"></label>
            </div>
            <span>Тема 16</span>
        </div>
        <div class="checkbox-wrapper-5">
            <div class="check">
                <input id="check-17" type="checkbox">
                <label for="check-17"></label>
            </div>
            <span>Тема 17</span>
        </div>
        <div class="checkbox-wrapper-5">
            <div class="check">
                <input id="check-18" type="checkbox">
                <label for="check-18"></label>
            </div>
            <span>Тема 18</span>
        </div>
        <div class="checkbox-wrapper-5">
            <div class="check">
                <input id="check-19" type="checkbox">
                <label for="check-19"></label>
            </div>
            <span>Тема 19</span>
        </div>
        <div class="checkbox-wrapper-5">
            <div class="check">
                <input id="check-20" type="checkbox">
                <label for="check-20"></label>
            </div>
            <span>Тема 20</span>
        </div>
        <div class="checkbox-wrapper-5">
            <div class="check">
                <input id="check-21" type="checkbox">
                <label for="check-21"></label>
            </div>
            <span>Тема 21</span>
        </div>
        <div class="checkbox-wrapper-5">
            <div class="check">
                <input id="check-22" type="checkbox">
                <label for="check-22"></label>
            </div>
            <span>Тема 22</span>
        </div>
        <div class="checkbox-wrapper-5">
            <div class="check">
                <input id="check-23" type="checkbox">
                <label for="check-23"></label>
            </div>
            <span>Тема 23</span>
        </div>
        <div class="checkbox-wrapper-5">
            <div class="check">
                <input id="check-24" type="checkbox">
                <label for="check-24"></label>
            </div>
            <span>Тема 24</span>
        </div>
    </div>
<button type="submit" class="submit-button">Начать</button>
</body>
</html>
