{% extends "base.html" %}
{% block content %}
<form action="" method="post" class="form-section">
    {{ form.hidden_tag() }}
    <p>Введите почту аккаунта, на котором нужно сбросить пароль.</p>
    {{ form.email(class="input-container", type="email") }}
    <br>{{ form.submit(class="form-control") }}<br>
    {% if message == 'Ваш пароль был изменён. Новый пароль был отправлен на почту!' %}
        <br>{{ form.back(class="form-control") }}<br>
    {% endif %}
    {{ message }}
</form>
{% endblock %}
