<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Trainer</title>
    <link rel="stylesheet" href="../static/css/task_trainer.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            const num_class = {{ num_class }};
            const correctAnswer = "{{ answer }}"; // Получение правильного ответа из шаблона

            function showResult(isCorrect) {
                if (isCorrect) {
                    $('#result').text("Правильно!").removeClass("incorrect").addClass("correct");
                } else {
                    $('#result').text("Неправильно!").removeClass("correct").addClass("incorrect");
                }
                $('#next-button').fadeIn();
                $('.choice-button').attr('disabled', true);
                $('#submit-button').attr('disabled', true);
                $('#text-answer').attr('disabled', true);
            }

            // Обработчик для текстового поля
            $('#submit-button').on('click', function() {
                const userAnswer = $('#text-answer').val();
                const isCorrect = userAnswer === correctAnswer;
                showResult(isCorrect);
            });

            // Обработчик для кнопки "Дальше"
            $('#next-button').on('click', function() {
                location.reload(); // Перезагрузка страницы для получения нового задания
            });

            // Обработчик для кнопки "Вернуться"
            $('#back-button').on('click', function() {
                window.location.href = `/${num_class}`;
            });
        });
    </script>
</head>
<body>
    <button id="back-button">← Назад</button>
    <div class="container">
        <p id="question">{{ text }}</p>

        <div id="image-container">
            {% if count_img > 0 %}
            <img src="{{ url_for('static', filename='pic_trainer/' + path_img) }}" alt="Task Image">
            {% endif %}
        </div>

        <div id="choices-container">
            {% if choices %}
            {% for choice in choices %}
            <button class="choice-button">{{ choice }}</button>
            {% endfor %}
            {% else %}
            <input type="number" id="text-answer" name="answer" placeholder="Введите ответ">
            <button id="submit-button">Ответить</button>
            {% endif %}
        </div>

        <p id="result"></p>

        <button id="next-button" style="display:none;">Дальше</button>
    </div>
</body>
</html>
