<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home - Keen Magnificent Armadillo</title>
    <meta property="og:title" content="Home - Keen Magnificent Armadillo" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Noto Sans;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-theme-neutral-dark);
        background-color: var(--dl-color-theme-neutral-light);

        fill: var(--dl-color-theme-neutral-dark);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
  </head>
  <body>
    <link rel="stylesheet" href="../static/css/style.css" />
    <div>
      <link href="../static/css/unlog_index.css" rel="stylesheet" />

      <div class="home-container">
        <div class="home-container01">
          <div data-role="Header" class="home-navbar-container">
            <div class="home-navbar">
              <div class="home-logo">
                <img
                  alt="image"
                  src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/538af5d6-3673-4de0-b11e-ccad9ffccc7d/4629f8d0-38ce-418d-b32f-0a9dc163d14d?org_if_sml=1760&amp;force_format=original"
                  class="home-image"
                />
              </div>
              <div class="home-right">
                <a href="/login" class="home-sign-in Link">Войти</a>
                <a href="/register" class="home-link">
                  <div id="register" class="home-get-started">
                    <span class="home-text">Зарегистрироваться</span>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <section class="home-hero">
            <header class="home-header">
              <h1 class="home-text01">
                Улучшите ваши математические навыки с MathUp!
              </h1>
              <p class="home-text02">
                MathUp - это удобная образовательная платформа, где вы можете
                тренироваться и улучшать навыки в игровой форме! Независимо от
                вашего уровня знаний, у нас найдутся задания и задачи, которые
                помогут вам стать настоящим мастером в мире математики!
              </p>
            </header>
            <div class="home-dashboard-preview">
              <div class="home-outline">
                <div
                  data-thq="slider"
                  data-loop="true"
                  data-autoplay="true"
                  data-navigation="true"
                  data-pagination="true"
                  class="home-slider swiper"
                >
                  <div data-thq="slider-wrapper" class="swiper-wrapper">
                    <div
                      data-thq="slider-slide"
                      class="home-slider-slide swiper-slide"
                    ></div>
                    <div
                      data-thq="slider-slide"
                      class="home-slider-slide1 swiper-slide"
                    ></div>
                    <div
                      data-thq="slider-slide"
                      class="home-slider-slide2 swiper-slide"
                    ></div>
                  </div>
                  <div
                    data-thq="slider-pagination"
                    class="home-slider-pagination swiper-pagination swiper-pagination-bullets swiper-pagination-horizontal"
                  >
                    <div
                      data-thq="slider-pagination-bullet"
                      class="swiper-pagination-bullet swiper-pagination-bullet-active"
                    ></div>
                    <div
                      data-thq="slider-pagination-bullet"
                      class="swiper-pagination-bullet"
                    ></div>
                    <div
                      data-thq="slider-pagination-bullet"
                      class="swiper-pagination-bullet"
                    ></div>
                  </div>
                  <div
                    data-thq="slider-button-prev"
                    class="swiper-button-prev"
                  ></div>
                  <div
                    data-thq="slider-button-next"
                    class="swiper-button-next"
                  ></div>
                </div>
              </div>
            </div>
          </section>
          <section class="home-features">
            <div class="home-container02">
              <h2 class="home-text03">MathUp</h2>
              <h3 class="home-text04 HeadingTwo">
                <span>Что вас ждёт?</span>
                <br />
              </h3>
            </div>
            <div class="home-container03">
              <div class="home-container04">
                <span class="home-text07">
                  <span>Тренажёр</span>
                  <br />
                </span>
                <div class="home-container05">
                  <h5 class="home-heading">Что это такое?</h5>
                  <span>
                    В режиме "Тренажёр" вы можете оттачивать свои математические
                    навыки, решая разнообразные задачи. Этот режим идеально
                    подходит для тех, кто хочет самостоятельно выбирать уровень
                    сложности и тип задач, чтобы сосредоточиться на своих слабых
                    местах. Здесь можно:
                  </span>
                </div>
                <div class="home-container06">
                  <span>
                    <span class="home-text12">Выбрать конкретные темы:</span>
                    <span>
                      арифметика, алгебра, геометрия, тригонометрия и другие.
                    </span>
                  </span>
                </div>
                <div class="home-container07">
                  <span>
                    <span class="home-text15">
                      Настраивать уровень сложности
                    </span>
                    <span>задач от начального до продвинутого.</span>
                  </span>
                </div>
              </div>
              <div class="home-container08"></div>
            </div>
            <div class="home-divider"></div>
            <div class="home-container09">
              <div class="home-container10">
                <span class="home-text17">
                  <span>Кампания</span>
                  <br />
                </span>
                <div class="home-container11">
                  <h5 class="home-heading1">Что это такое?</h5>
                  <span class="home-text20">
                    Режим "Кампания" создан для тех, кто любит последовательный
                    и структурированный подход к обучению. В этом режиме вы
                    будете проходить уровни один за другим, постепенно повышая
                    сложность и расширяя свои знания. Кампания включает в себя:
                  </span>
                </div>
                <div class="home-container12">
                  <span class="home-text21">
                    <span class="home-text22">400 уровней:</span>
                    <span>
                      Каждый уровень предлагает уникальные задачи, которые
                      становятся сложнее по мере прохождения.
                    </span>
                  </span>
                </div>
                <div class="home-container13">
                  <span>
                    <span class="home-text25">Тематические тесты:</span>
                    <span>
                      После прохождения каждых 10 уровней вас ждёт тест, который
                      проверит ваше понимание темы и закрепит знания.
                    </span>
                  </span>
                </div>
                <div class="home-container14">
                  <span class="home-text27">
                    <span class="home-text28">Босс-контрольные:</span>
                    <span>
                      Каждые 100 уровней вы встретитесь с большим боссом –
                      контрольной по всему блоку. Это отличная возможность
                      проверить свои знания и убедиться, что вы готовы двигаться
                      дальше.
                    </span>
                  </span>
                </div>
              </div>
              <div class="home-container15"></div>
            </div>
            <div class="home-divider1"></div>
            <div class="home-container16">
              <div class="home-container17">
                <span class="home-text30">Почему стоит выбрать наc?</span>
                <div class="home-container18">
                  <h5 class="home-heading2">Интерактивность и вовлечённость</h5>
                  <span>
                    Мы стремимся сделать процесс обучения интересным и
                    увлекательным. В наших задачах используются яркие визуальные
                    элементы и игровые механики.
                  </span>
                </div>
                <div class="home-container19">
                  <h5 class="home-heading3">Достижения и награды</h5>
                  <span>
                    За успешное прохождение уровней и выполнение задач вы будете
                    получать достижения и награды, которые подстегнут вашу
                    мотивацию.
                  </span>
                </div>
              </div>
              <div class="home-container20"></div>
            </div>
            <div class="home-divider2"></div>
            <div class="home-container21">
              <div class="home-container22">
                <span class="home-text33">Наши пользователи говорят</span>
                <div class="home-container23">
                  <i class="home-text34">
                    <span class="home-text35">
                      "Благодаря этому сайту я значительно улучшил свои
                      математические навыки. Теперь я уверен в себе на уроках
                      математики и даже помогаю одноклассникам!"
                    </span>
                    <span>– Андрей, 14 лет.</span>
                  </i>
                </div>
                <div class="home-container24">
                  <i>
                    "Кампания – это что-то невероятное! Я чувствую себя
                    настоящим героем, проходя уровни и побеждая боссов.
                    Математика стала моим любимым предметом!" – Ольга, 16 лет.
                  </i>
                </div>
                <div class="home-container25">
                  <i>
                    "Тренажёр помог мне подготовиться к вступительным экзаменам.
                    Я смогла выбрать именно те темы, которые мне были сложны, и
                    отработать их до автоматизма." – Мария, 18 лет.
                  </i>
                </div>
              </div>
              <div class="home-container26"></div>
            </div>
          </section>
          <div class="home-container27">
            <header class="home-info">
              <h1 class="home-text39">Присоединяйтесь к нам!</h1>
              <p class="home-text40">
                Начните своё математическое приключение уже сегодня!
                Зарегистрируйтесь на нашем сайте, выберите режим обучения и
                начинайте решать задачи. Мы уверены, что с нашей помощью вы
                станете настоящим математическим гением!
              </p>
              <p class="home-text41">
                Ваш успех в математике – наша главная цель. Присоединяйтесь к
                нам и убедитесь, что учиться может быть увлекательно и
                интересно!
              </p>
              <p class="home-text42">
                MathUp – ваш путь к успеху в мире математики!
              </p>
              <div id="register" class="home-get-started1">
                <span class="home-text43">Зарегистрироваться</span>
              </div>
            </header>
          </div>
          <footer class="home-footer">
            <div class="home-top">
              <div class="home-right1">
                <div class="home-category">
                  <span class="home-text44">Команда CodeBlaze</span>
                  <div class="home-links">
                    <span class="home-text45">
                      <span>Frontend: @flamymc</span>
                      <br />
                    </span>
                    <span class="home-text48">Backend: @staflix</span>
                    <span class="home-text49">Backend: @DanSivets</span>
                    <span class="home-text50">Server: @d1temend</span>
                  </div>
                </div>
                <div class="home-category1">
                  <span class="home-text51">
                    <span>Контакты</span>
                    <br />
                  </span>
                  <div class="home-links1">
                    <span class="home-text54">
                      Телефон:&nbsp;+7 (XXX) XXX-XX-XX
                    </span>
                    <span class="home-text55">
                      Email:&nbsp;info@codeblaze.com
                    </span>
                    <span class="home-text56">Telegram: @codeblaze</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="home-bottom">
              <img
                alt="pastedImage"
                src="https://play.teleporthq.io/static/svg/placeholders/no-image.svg"
                class="home-branding"
              />
              <span class="home-text57">
                <span class="home-text58">
                  © 2024 CodeBlaze. Все права защищены
                </span>
                <br />
              </span>
            </div>
          </footer>
        </div>
      </div>
    </div>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
  </body>
</html>